ansible-compat==24.7.0 ; python_version >= "3.9" and python_version < "4.0" and platform_system != "Windows"
ansible-core==2.15.12 ; python_version >= "3.9" and python_version < "4.0"
ansible-lint==6.22.2 ; python_version >= "3.9" and python_version < "4.0" and platform_system != "Windows"
ansible==8.7.0 ; python_version >= "3.9" and python_version < "4.0"
attrs==24.2.0 ; python_version >= "3.9" and python_version < "4.0" and platform_system != "Windows"
black==24.8.0 ; python_version >= "3.9" and python_version < "4.0" and platform_system != "Windows"
boto3==1.34.155 ; python_version >= "3.9" and python_version < "4.0"
botocore==1.34.155 ; python_version >= "3.9" and python_version < "4.0"
bracex==2.5 ; python_version >= "3.9" and python_version < "4.0" and platform_system != "Windows"
cffi==1.17.0 ; python_version >= "3.9" and python_version < "4.0" and platform_python_implementation != "PyPy"
cfgv==3.4.0 ; python_version >= "3.9" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.9" and python_version < "4.0" and platform_system != "Windows"
cryptography==43.0.0 ; python_version >= "3.9" and python_version < "4.0"
distlib==0.3.8 ; python_version >= "3.9" and python_version < "4.0"
filelock==3.15.4 ; python_version >= "3.9" and python_version < "4.0"
flake8==7.1.1 ; python_version >= "3.9" and python_version < "4.0"
identify==2.6.0 ; python_version >= "3.9" and python_version < "4.0"
importlib-resources==5.0.7 ; python_version >= "3.9" and python_version < "3.10"
jinja2==3.1.4 ; python_version >= "3.9" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.9" and python_version < "4.0"
jsonschema-specifications==2023.12.1 ; python_version >= "3.9" and python_version < "4.0" and platform_system != "Windows"
jsonschema==4.23.0 ; python_version >= "3.9" and python_version < "4.0" and platform_system != "Windows"
markdown-it-py==3.0.0 ; python_version >= "3.9" and python_version < "4.0" and platform_system != "Windows"
markupsafe==2.1.5 ; python_version >= "3.9" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.9" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.9" and python_version < "4.0" and platform_system != "Windows"
mypy-extensions==1.0.0 ; python_version >= "3.9" and python_version < "4.0" and platform_system != "Windows"
nodeenv==1.9.1 ; python_version >= "3.9" and python_version < "4.0"
packaging==24.1 ; python_version >= "3.9" and python_version < "4.0"
pathspec==0.12.1 ; python_version >= "3.9" and python_version < "4.0" and platform_system != "Windows"
platformdirs==4.2.2 ; python_version >= "3.9" and python_version < "4.0"
pre-commit==3.8.0 ; python_version >= "3.9" and python_version < "4.0"
pycodestyle==2.12.1 ; python_version >= "3.9" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.9" and python_version < "4.0" and platform_python_implementation != "PyPy"
pyflakes==3.2.0 ; python_version >= "3.9" and python_version < "4.0"
pygments==2.18.0 ; python_version >= "3.9" and python_version < "4.0" and platform_system != "Windows"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.9" and python_version < "4.0"
referencing==0.35.1 ; python_version >= "3.9" and python_version < "4.0" and platform_system != "Windows"
resolvelib==1.0.1 ; python_version >= "3.9" and python_version < "4.0"
rich==13.7.1 ; python_version >= "3.9" and python_version < "4.0" and platform_system != "Windows"
rpds-py==0.20.0 ; python_version >= "3.9" and python_version < "4.0" and platform_system != "Windows"
ruamel-yaml-clib==0.2.8 ; platform_python_implementation == "CPython" and python_version < "3.13" and python_version >= "3.9" and platform_system != "Windows"
ruamel-yaml==0.18.6 ; python_version >= "3.9" and python_version < "4.0" and platform_system != "Windows"
s3transfer==0.10.2 ; python_version >= "3.9" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.9" and python_version < "4.0"
subprocess-tee==0.4.2 ; python_version >= "3.9" and python_version < "4.0" and platform_system != "Windows"
tomli==2.0.1 ; python_version >= "3.9" and python_version < "3.11" and platform_system != "Windows"
typing-extensions==4.12.2 ; python_version >= "3.9" and python_version < "3.11" and platform_system != "Windows"
urllib3==1.26.19 ; python_version >= "3.9" and python_version < "3.10"
urllib3==2.2.2 ; python_version >= "3.10" and python_version < "4.0"
virtualenv==20.26.3 ; python_version >= "3.9" and python_version < "4.0"
wcmatch==9.0 ; python_version >= "3.9" and python_version < "4.0" and platform_system != "Windows"
yamllint==1.35.1 ; python_version >= "3.9" and python_version < "4.0" and platform_system != "Windows"
