---
name: Dependabot auto-approve
on: pull_request

permissions:
  pull-requests: write

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2.1.0
      - name: Approve the pull request
        run: gh pr review --approve "${{ github.event.pull_request.html_url }}"
        if: steps.metadata.outputs.update-type == 'version-update:semver-minor' || steps.metadata.outputs.update-type == 'version-update:semver-patch'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
